!!!
%html
  %head
    %title Devon Tivona
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "assets/stylesheets/base.css", rel: "stylesheet"}

    %script{src: "http://code.jquery.com/jquery-2.1.0.min.js"}
    %script{src: "http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
    %script{src: "assets/javascripts/base.js"}
%body
  .jumbotron
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1{style: "margin-top: 10px"} Devon Tivona
          %h2 Designer and Developer
          %p= "I am a designer and developer living in beautiful Boulder, Colorado. My favorite things include pixels, espresso,
            <span id='tooltip' data-placement='top' data-toggle='tooltop' title='I have been to over 10 countries!'>travel</span>, and brunch."
          .dropdown
            %a{"data-toggle" => "dropdown", href: "#", class: "btn btn-primary" } Contact me
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", role: "menu"}
              %li
                %a Facebook
              %li
                %a Twitter
              %li
                %a Email
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1{style: "margin-top: 0; margin-bottom: 20px"} Recent Work
    .row
      .col-md-4.col-md-offset-2
        .thumbnail
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            / Indicators
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
            / Wrapper for slides
            .carousel-inner
              .item.active
                %img{alt: "...", src: "http://tivona.me/assets/images/gallery/monospace@2x.png"}
              .item
                %img{alt: "...", src: "http://tivona.me/assets/images/gallery/ict4d@2x.png"}
              .item
                %img{alt: "...", src: "http://tivona.me/assets/images/gallery/amplitude@2x.png"}
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
              %span.glyphicon.glyphicon-chevron-right
          .caption
            %button.btn.btn-primary{ data: { target: "#modal", toggle: "modal"} } Website
            %button.btn.btn-default{ data: { toggle: "collapse", target: "#monospace-description" }} More Details
            %p#monospace-description Design and development of Monospace website. Sed semper nisl sit amet turpis consectetur, quis ultrices nulla pellentesque. Aliquam non euismod ligula. Duis posuere laoreet faucibus. Curabitur nec neque ultricies, porta turpis at, congue purus. Nullam sed mi suscipit eros imperdiet laoreet. Nunc ultrices, est non mollis posuere, velit enim commodo mauris, consequat semper elit erat a orci. Nulla libero quam, adipiscing sed orci ac, accumsan viverra tortor.
      .col-md-4
        .thumbnail
          %img{alt: "...", src: "http://tivona.me/assets/images/gallery/stanley@2x.png"}
          .caption
            %button.btn.btn-primary{ type: "button", data: { container: "body", toggle: "popover", placement: "top", content: "This project is not done! Stay tuned!" }, id: "popover"} Website
            %button.btn.btn-default{ data: { toggle: "collapse", target: "#stanley-description" }} More Details
            %p#stanley-description Development of the Stanley Film Festival mobile app. Phasellus diam neque, feugiat vulputate porta vitae, mattis et elit. Quisque at vestibulum risus. Cras eu ultricies velit. Cras eget convallis leo. Duis sagittis nisi sit amet quam ornare aliquet. Nullam consectetur convallis velit id faucibus. Nunc blandit pretium lectus, posuere laoreet massa egestas ut. Etiam id fringilla nisi.
    .row
      .col-md-4.col-md-offset-2
        .thumbnail
          %img{alt: "...", src: "http://tivona.me/assets/images/gallery/bug@2x.png"}
          .caption
            %a.btn.btn-primary{href: "#", role: "button"} Website
            %button.btn.btn-default{ data: { toggle: "collapse", target: "#bug-description" }} More Details
            %p#bug-description Graphics and development of "Bug the Robot." Morbi nibh nibh, convallis sollicitudin condimentum ac, rutrum sed mauris. Aenean facilisis urna a ultricies cursus. Etiam nec sem nibh. Morbi tempus eros et nisi luctus, id euismod neque venenatis. Sed posuere aliquam iaculis. Ut at ante vitae sem placerat elementum ac tincidunt felis. Cras lorem est, iaculis in felis ac, volutpat ultrices velit. Integer non consequat ante.
      .col-md-4
        .thumbnail
          %img{alt: "...", src: "http://tivona.me/assets/images/gallery/varsity@2x.png"}
          .caption
            %a.btn.btn-primary{href: "#", role: "button"} Website
            %button.btn.btn-default{ data: { toggle: "collapse", target: "#varsity-description" }} More Details
            %p#varsity-description Business development of the Varsity playform. Curabitur nec neque ultricies, porta turpis at, congue purus. Nullam sed mi suscipit eros imperdiet laoreet. Nunc ultrices, est non mollis posuere, velit enim commodo mauris, consequat semper elit erat a orci. Nulla libero quam, adipiscing sed orci ac, accumsan viverra tortor.
      .row.footer
        .col-md-8.col-md-offset-2
          %hr
          %p Copyright Devon Tivona 2014. All Rights Reserved. Designed in Boulder, Colorado.


/ Modal
#modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title Monospace Website
      .modal-body
        %iframe{ src: "http://monospacecollective.com" }