<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"></link>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 style="margin-top: 10px">{{ name }}</h1>
          <h2>Designer and Developer</h2>
          <p>I am a designer and developer living in beautiful Boulder, Colorado. My favorite things include pixels, espresso, travel, and brunch.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="margin-top: 0; margin-bottom: 20px">Recent Work</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <div class="thumbnail">
          <img src="http://tivona.me/assets/images/gallery/monospace@2x.png" alt="...">
          <div class="caption">
            <p>Design and development of Monospace website.</p>
            <a href="#" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="http://tivona.me/assets/images/gallery/stanley@2x.png" alt="...">
          <div class="caption">
            <p>Development of the Stanley Film Festival mobile app.</p>
            <a href="#" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="http://tivona.me/assets/images/gallery/bug@2x.png" alt="...">
          <div class="caption">
            <p>Graphics and development of "Bug the Robot"</p>
            <a href="#" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="http://tivona.me/assets/images/gallery/varsity@2x.png" alt="...">
          <div class="caption">
            <p>Business development of the Varsity playform.</p>
            <a href="#" class="btn btn-primary" role="button">Site</a> <a href="#" class="btn btn-default" role="button">More</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <hr>
          <p>Copyright Devon Tivona 2014. All Rights Reserved. Designed in Boulder, Colorado.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>